{
color: #1e2638;
color: #585536;
color: #422649;
color: #203130;
color: #405627;
color: #3b2c41;
color: #56322e;
color: #513548;
color: #4b4d27;
color: #284027;
color: #44513b;
color: #3f2a3d;
color: #3f3837;
color: #4a3f38;
color: #443136;
color: #3f2126;
color: #3c472d;
color: #295258;
color: #474b50;
color: #284a26;
color: #524e4c;
color: #563e38;
color: #274a24;
color: #2d2545;
color: #284640;
color: #362e28;
color: #42424c;
color: #325347;
color: #4f4243;
color: #463351;
color: #4d5840;
color: #402e49;
color: #2e274b;
color: #2f3722;
color: #30562d;
color: #4b2e46;
color: #4f552a;
color: #464729;
color: #454159;
}
